<div class="row">验证输入框</div>
<div>
	<input type="text" class="form-control" id="test" value=""/>
	<div class="a"></div>
</div>

<script src="./validate.js"></script>
<script>
	var validate = Validate.createValidate();
	validate.checkSimple("password","test","a");
</script>