*{margin:0;padding:0;}
img{border:0;}
html,body{width:100%;height:100%:}
body{
	 background:url("../image/bg.jpg");
	 font-size:14px;
	 font-family:"微软雅黑";
	}
.login{
		background:#fff;
		box-shadow:0 0 3px 1px #eee;
		width:380px;
		text-align:center;
		padding:15px 0 25px;
		position:absolute;
		left:50%;
		top:20%;
		margin-left:-190px;
		}
.login img{width:276px;height:276px;}

#show {
		text-align:center;
	    padding:50px;
	    font-size:22px; 
	    margin:100px auto;
	    background:#fff;
	    display:none;
}
