<meta charset="utf-8">


<div id="txtcontent" style="width: 500px;height: 250px;border: 1px solid gray"></div>
<div>所有用户:<select id="listuers"></select></div>
<div>你的昵称:<input type="text" id="username" /></div>
<div>
    回复内容:
    <textarea style="width: 500px;height: 100px" id="txtmsg"></textarea>
</div>
<div>
    <button onclick="connectServer()">连接服务器</button>
    <button onclick="send()">发送消息</button>
</div>


<script>
    //创建一个socket实例
    var socket = null; //初始为null
    var isLogin = false; //是否登录到服务器上

    //定义一个连服务的函数
    function connectServer(){

        var username = document.getElementById('username').value;
        if (username == ''){
            alert('用户昵称必填');
        }
        //用于连接的websocket服务器
        socket = new WebSocket("ws://192.168.131.9:1234");
        socket.onopen = function(e) {
            socket.send('login:' + username);
        };
        socket.onmessage = function(e) {
            var getMsg = e.data;
            console.log(getMsg);
            if(/^notice:success$/.test(getMsg)){ //服务器验证通过
                isLogin = true;
            }else if(/^msg:/.test(getMsg)){ //代表是普通消息
                var p = document.createElement('p');
                p.innerHTML = '<span>收到消息:</span>' + getMsg.replace('msg:','');
                document.getElementById('txtcontent').appendChild(p);
            }
        };

        socket.onclose = function(){
            isLogin = false;
        }
    }

    //发送消息
    function send(){
        if (!isLogin){
            alert('请先通过服务器验证');
        }

        var msg = document.getElementById('txtmsg').value;
        //console.log(msg);

        socket.send('msg:' + msg); //发送消息到服务端

        //显示我们的消息到div中
        var p = document.createElement('p');
        p.innerHTML = '<span>回复消息:</span>' + msg;
        document.getElementById('txtcontent').appendChild(p);
    }

</script>