<div class="modal-body">
  <div class="form-group">
    <div class="col-xs-6 col-xs-offset-2 topsearch">
      <input type="text" name="title" class="form-control" placeholder='产品名称'>
    </div>
    <button class="btn btn-default btn-primary" id="search">搜索</button>
  </div>

  <form action="<{url action=topshop_ctl_specialorder_list@orderList}>" method="post" id="itemForm">
    <div id="box">
      
    </div>
  </form>

  <table class='table table-primary table-hover table-goods'>
    <thead>
        <tr>
            <td>产品名称</td>
        </tr>
    </thead>
    <tbody id="list">

    </tbody>
  </table>
  <input type='hidden' id='current_page' />
  <input type='hidden' id='show_per_page' />
  <div id='page_navigation'></div>
    
  <div style="clear:both;"></div>
</div>

<script>
//jquery实现分页
function page(){
  var show_per_page = 10; 
  var number_of_items = $('#list').children().size();
  
  var number_of_pages = Math.ceil(number_of_items/show_per_page);
  $('#current_page').val(0);
  $('#show_per_page').val(show_per_page);
  var navigation_html = '<ul class="pagination pagination-sm pull-right" style="margin:0;"><li class="previous_link"><a href="javascript:previous();">上一页</a></li>';
  var current_link = 0;
  while(number_of_pages > current_link){
    navigation_html += '<li class="page_link hide" longdesc="' + current_link +'"><a href="javascript:go_to_page(' + current_link +')">'+ (current_link + 1) +'</a></li>';
    current_link++;
  }
  navigation_html += '<li class="next_link"><a href="javascript:next();">下一页</a></li></ul>';
  $('#page_navigation').html(navigation_html);
  $('#page_navigation .page_link:first').addClass('active');
  $('#list').children().addClass('hide').slice(0, show_per_page).removeClass('hide');
}
function previous(){
  new_page = parseInt($('#current_page').val()) - 1;
  if($('.active').prev('.page_link').length==true){
    go_to_page(new_page);
  }
}
function next(){
  new_page = parseInt($('#current_page').val()) + 1;
  //if there is an item after the current active link run the function
  if($('.active').next('.page_link').length==true){
    go_to_page(new_page);
  }
}
function go_to_page(page_num){
  var show_per_page = parseInt($('#show_per_page').val());
  start_from = page_num * show_per_page;
  end_on = start_from + show_per_page;
  $('#list').children().addClass('hide').slice(start_from, end_on).removeClass('hide');
  $('.page_link[longdesc=' + page_num +']').addClass('active').siblings('.active').removeClass('active');
  $('#current_page').val(page_num);
}
</script>